.main-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.feed {
  width: 100%;
  height: 100%;
  padding: 50px;
}

mat-grid-tile {
  background: lightblue;
}

.postButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.postButtons div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

.postButtons div button{
  width: 100%;
}

@media (max-width: 600px) {
  .postButtons {
    display: none;
  }
}

.form-container {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.form-container.open {
  max-height: 1000px;
  opacity: 1;
}