.header {
  display: flex;
  justify-content: space-between;
}

.feed-buttons {
  display: flex;
  justify-content: space-between;
}
.post-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.post-content {
  display: flex;
  width: 100%;
}

.post-details {
  flex: 1;
  padding-right: 1rem; /* Space between text and image */
}

.post-image {
  flex-shrink: 0;
  width: 200px; /* Fixed width for images */
}

.image {
  width: 100%;
  height: auto; 
  object-fit: contain; /* Ensures the image covers the area without distortion */
  transition: opacity 0.3s ease;
}

.inner-div {
  position: relative;  /* to be used on th eparent whenever using "fill" attribute of NgOptimisedImage */
  aspect-ratio: 1/1;  /* width/height, require sqaure in my case */
  margin: 30px  /* for better visibily */
}

.main{
  display: flex;
}

.inner-div:hover .image {
  opacity: 0.5; /* A kép beszürkülése */
}

.zoom-icon {
  position: absolute;
  top: 0; /* Az ikon a szülő elem tetejére igazítva */
  left: 0; /* Az ikon a szülő elem bal oldalára igazítva */
  width: 100%; /* Kitölti a szülő elem szélességét */
  height: 100%; /* Kitölti a szülő elem magasságát */
  display: flex; /* Flexbox használata az ikon középre igazításához */
  justify-content: center; /* Vízszintes középre igazítás */
  align-items: center; /* Függőleges középre igazítás */
  color: gray; /* Ikon színe */
  opacity: 0.8; /* Ikon áttetszősége */
  pointer-events: none; /* Ne zavarja meg az egér eseményeket */
}

.icon{
  font-size: 100px;
}