<div class="container">
  <h1 class="mt-3">Kategóriák</h1>
  <div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Név</th>
              <th scope="col">Url</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            @for (cat of categories; track $index) {
            <tr>
              <th scope="row">{{ cat.id }}</th>
              <td>{{ cat.name }}</td>
              <td>/{{ cat.urlhandle }}</td>
              <td>
                <button type="button" class="btn btn-success">
                  <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button type="button" class="btn btn-danger">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
