<div fxLayout="column">
  <div fxLayout="row">
    <div fxFlex="20%">
      <mat-card>
        <mat-toolbar color="primary">
          @if(isShelterRoute()){
            <span>Állatmenhelyek</span>
          }@else {
            <span>Felhasználók</span>
          }
         
        </mat-toolbar>

        <mat-form-field appearance="fill" class="search-bar">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput placeholder="Keresés" [(ngModel)]="searchTerm" />
        </mat-form-field>

        <mat-nav-list>
          @if (isShelterRoute()) {
            <mat-list-item
            *ngFor="let shelter of filteredShelters()"
            (click)="selectShelter(shelter)"
          >
            {{ shelter.name }}
          </mat-list-item>
          }@else {
            <mat-list-item
            *ngFor="let user of filteredUsers()"
            (click)="selectUser(user)"
          >
            {{ user.name }}
          </mat-list-item>
          }
          
        </mat-nav-list>
      </mat-card>
    </div>
    <div fxFlex="60%">
      <div class="container">
        <router-outlet></router-outlet>
        <ng-container *ngIf="!isShelterRoute()">
          <div class="me-auto mb-2 mb-lg-0">
            <button mat-button [routerLink]="'shelter-form'">Állatmehely hozzáadása</button>
          </div>
          @if (searchTerm !== "") {
            <h1>{{ searchTerm }} posztjai</h1>
            }
          <app-feed
            class="admin_feed"
            [isAdminMode]="true"
            [posts]="postList"
          ></app-feed>
        </ng-container>
      </div>
      </div>
      
    <div fxFlex="20%">
      <div style="margin-bottom: 10px;">
        <app-add-category></app-add-category>
      </div>
      <app-category-list></app-category-list>
    </div>
  </div>
</div>
